//General styles
body {
  font-family: "Montserrat", "Orienta", "Tenor Sans", sans-serif;

  background-color: red;
}

//Variables
$headings-font-family: "Montserrat";
$primary: #7c4dff;
$secondary: #cddc39;
$dark: #212121;
$gray-100: #757575;
$gray-200: #bdbdbd;

//heading special effects

head-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
head-section div {
  position: relative;
  width: 50%;
  background: #20506b;
  overflow: hidden;
}
head-section div:nth-child(1) {
  width: 50%;
  /*background: #000;*/
  background: url(img.jpg);
  background-size: cover;
  /*border-right: 2px solid #fff;*/
  box-sizing: border-box;
}
head-section div h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 12em;
}
head-section div:nth-child(1) h2 {
  left: 100%;
  animation: animate 60s linear infinite;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}
head-section div:nth-child(2) h2 {
  left: 0;
  color: #fff;
  animation: animate 60s linear infinite;
}
head-section div h2 {
  line-height: 100vh;
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  /*	50%
	{
		transform: translateX(-100%);
	}*/
  100% {
    transform: translateX(-100%);
  }
}
