/*General styles*/
body {

  font-family: "Montserrat", "Orienta", "Tenor Sans", sans-serif;
  font-size: 18px;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

h1 {
  font-family: "Montserrat";
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orienta";
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Navbar */
.navbar {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 79, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  height: 40vh;
  display: flex;
  overflow: hidden;
}
.hero div {
  position: relative;
  width: 50%;
  overflow: hidden;
}
.hero div:nth-child(1) {
  width: 50%;
  box-sizing: border-box;
}
.hero div h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 12em;
}

.hero div:nth-child(1) h2 {
  left: 100%;
  animation: heroAnimate 30s linear infinite;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}
.hero div:nth-child(2) h2 {
  left: 0;
  color: #fff;
  animation: heroAnimate 30s linear infinite;
}
.hero div h2 {
  line-height: 50vh;
}
@keyframes heroAnimate {
  0% {
    transform: translateX(0);
  }
  /*	50%
	{
		transform: translateX(-100%);
	}*/
  100% {
    transform: translateX(-100%);
  }
}

.hero-xs {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}

/* Homepage Content */

.glass__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.glass__box {
  position: relative;
  width: 340px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.glass__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  /* background-color: #fff;*/
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.glass__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  /* background-color: #fff;*/
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}

/*.glass__box:hover::before,
.glass__box:hover::after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}*/

/*.glass__box:nth-child(1):before,
.glass__box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.glass__box:nth-child(2):before,
.glass__box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.glass__box:nth-child(3):before,
.glass__box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #03a9fa);
}*/

.glass__box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.glass__box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.glass__box:hover span::before {
  top: -68px;
  left: 30px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.glass__box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.glass__box:hover span::after {
  bottom: -50px;
  right: 30px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.glass__content {
  color: #fff;
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
}

/*About Content*/

.about__img {
  max-height: 600px;
  border-radius: 8px;
}

.glass__work {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  min-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
}

.glass__work_text {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: transparent;
}

/*Project Content*/

.glass__projects {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 79, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  padding: 25px;
}

.project__img {
  max-width: 500px;
  height: auto;
}

/*Project Certificate Gallery*/

.gallery__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* Buttons */
.custom__btn {
  position: relative;
  width: 155px;
  height: 55px;
  margin: 20px;
}

.custom__btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-size: 400;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.custom__btn:hover a {
  letter-spacing: 3px;
}

.custom__btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.custom__btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}
.custom__btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.custom__btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.custom__btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.custom__btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

/* Scroll Top Button */

#top__btn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 1.5rem;
}
@media screen and (min-width: 1860px) {
  #top__btn {
    bottom: 40px;
    right: 200px;
  }
}
@media screen and (max-width: 992px) {
  #top__btn {
    bottom: 40px;
    right: 10px;
    font-size: 1rem;
    padding: 12px 15px;
  }
}
/* Footer */
.glassIco {
  --width: 100px;

  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  margin: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glassIco,
.glassIco * {
  box-sizing: border-box;
  transition: 200ms;
}
.glassIco:before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(0px);
  transition: 400ms;
  transform: skewX(45deg) translateX(calc(var(--width) + 50%));
}
.glassIco:hover {
  transform: translateY(-20px);
}
.glassIco:hover {
  color: white;
}
.glassIco:hover:before {
  transform: skewX(45deg) translateX(calc(var(--width) * -1 - 50%));
}
.glassIco > * {
  opacity: 0.8;
}
